<% if (board.id === 1) { %>
  <% var message = 'Choose me! I have lists and cards' %>
<% } else { %>
  <% var message = 'Sorry! I am emtpy' %>
<% } %>

<a href="#/boards/<%= board.id %>"
   data-toggle="tooltip"
   data-placement="top"
   title="<%= message %>"
   class="board-tooltip">
  <h4><%= board.escape('title') %></h4>
</a>
